body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 236, 240);
    font-family: sans-serif;
   
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR17AiL0Hy6PItPdfdijDw4vn2KuZLjjGQ4Gg&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 300px 200%px;
  }
  
  
  .loginbox {
    width: 350px;
    height: 420px;
    background: transparent;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    left: 29%;
  }
  
  h1 {
    margin: 0;
    padding: 0 0 20 px;
    text-align: center;
    font-size: 22px;
  }
  
  .loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  
  .loginbox input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .loginbox input[type="text"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 18px;
  }
  
  .loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: white;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .loginbox a:hover {
    color: #ffc107;
  }
  
  .Login {
    color: black;
    font-weight: bold;
  }
  
  .pad {
    padding-top: 15%;
  }
  
  .frm {
    color: rgb(174, 142, 142);
  }
  