.user-login {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    
  }

  .body{
    background: linear-gradient(
        rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)
      ),
      url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN37gpF_aIkCnrqnzwnZQO5twImrLehzrI2g&usqp=CAU");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .user-login h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }